<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="category">
            <span class="choice">CHOOSE A CATEGORY FROM FLOWERS</span>
            <div class="categories-table">
                <div class="first-row">
                    <div class="category-block ">
                        <img class="category-picture" src="assets/img/picture1.png" alt="Bouquet">
                        <span class="category-link">Bouquet</span>
                    </div>
                    <div class="category-block">
                        <img class="category-picture" src="assets/img/picture2.png" alt="Bouquet in a box">
                        <span class="category-link">Bouquet in a box</span>
                    </div>
                    <div class="category-block">
                        <img class="category-picture" src="assets/img/picture3.png" alt="Basket">
                        <span class="category-link">Baskets</span>
                    </div>
                </div>
                <div class="second-row">
                    <div class="category-block">
                        <img class="category-picture" src="assets/img/picture4.png" alt="Heart">
                        <span class="category-link">Hearts</span>
                    </div>
                    <div class="category-block">
                        <img class="category-picture" src="assets/img/picture5.png" alt="Wreath">
                        <span class="category-link">Wreaths</span>
                    </div>
                    <div class="category-block">
                        <img class="category-picture" src="assets/img/picture6.png" alt="Cross">
                        <span class="category-link">Crosses</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

